.hero-page{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0)),url('../img/forumbanner.jpg');
}

em{
    text-decoration: underline;
}

#post-grouper{
    padding-top: 6s0px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(70% + 0px);
    max-width: 900px;
    gap: 40px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #00000027;
    transition: 0.1s all;
    animation: appear 0.5s;
    padding: 20px;
    gap: 15px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    color: #111;
}

.post-op{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.post-op-photo{
    border-radius: 100%;
    background-color: black;
    width: 20px;
}

.post-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-footer p{
    display: flex;
    align-items: center;
    color: #111;
    transition: all 0.5s;
}

.post-footer p:hover span{
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 0,
    'opsz' 24;
}

.post-footer p:hover #like-icon{
    color: var(--chili-red);
}

.post-footer p:hover #comment-icon{
    color: var(--space-cadet);
}

.post-footer p:hover #share-icon{
    color: var(--sea-green);
}

@media only screen and (max-width: 850px) {

    #post-grouper{
        width: 90%;
    }
}