.hero-page{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0)),var(--main-image);
}

#steps{
    padding-left: 40px;
    line-height: 20px;
    transition: all 0.3s;
}

#steps li{
    list-style: decimal;
    margin: 15px;
}

#steps li::marker{
    font-size: 15pt;
    font-weight: 1000;
    color: var(--chili-red);
}

#tutorial{
    width: calc(70% + 40px);
    max-width: 940px;
    align-items: flex-start;
    transition: all 0.3s;
}

.video{
    margin: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.video > iframe{
    border-radius: 20px;
}


@media only screen and (max-width: 850px) {
    #tutorial{
        width: 90%;
    }

    #steps{
        padding-left: 30px;
    }
}
