#main-photo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0)), var(--cookies);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    width: 70%;
    max-width: 900px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
}

#recipe-desc{
    display: flex;
    gap: 10px;
}
#recipe-desc h3{    
    font-weight: 500;
}

#steps{
    padding-left: 20px;
    line-height: 20px;
}

#steps li{
    list-style: decimal;
    margin: 15px;
}

#steps li::marker{
    font-size: 15pt;
    font-weight: 1000;
    color: var(--chili-red);
}

#tutorial{
    margin-top: 50px;
    width: calc(70% + 40px);
    max-width: 940px;
    align-items: flex-start;
}

#ingredients{
    align-self: center;
    background-color:var(--light-green);
    padding: 20px;
    border-radius: 20px;
    width: calc(100% - 40px);
}

#ingredients li{
    margin: 15px 0px;
}

#ingredients li::before{
    content: "Comprar";
    margin-right: 5px;
    padding: 5px;
    color: #fff;
    background-color: var(--chili-red);
    border-radius: 10px;
}
