.hero-page{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0)),var(--main-image);
}

#steps{
    padding-left: 40px;
    line-height: 20px;
}

#steps li{
    list-style: decimal;
    margin: 15px;
}

#steps li::marker{
    font-size: 15pt;
    font-weight: 1000;
    color: var(--chili-red);
}

#tutorial{
    margin-top: 50px;
    width: calc(70% + 40px);
    max-width: 940px;
    align-items: flex-start;
}

#ingredients{
    align-self: center;
    background-color:var(--light-green);
    padding: 20px;
    border-radius: 20px;
    width: calc(100% - 40px);
}

#ingredients li{
    margin: 15px 0px;
}

#ingredients li::before{
    content: "•";
    margin-right: 5px;
}

.video{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.video > iframe{
    border-radius: 20px;
}