@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

@keyframes appear{
    from {
        opacity: 0%;
    }
        
    to {
        opacity: 100%;
    }
}

:root{
    --light-green: #a5e694ff;
    --sea-green: #05855cff;
    --vivid-sky-blue: #2ac7dfff;
    --space-cadet: #122854ff;
    --chili-red: #ee371bff;
    --gray: #d3d3d3;
}

::-moz-selection { /* Code for Firefox */
    background-color:var(--vivid-sky-blue);
    color:var(--space-cadet);
  }
  
  ::selection {
    background-color:var(--vivid-sky-blue);
    color:var(--space-cadet);;
  }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Fraunces', serif;
    font-optical-sizing: none;
}

body{
    margin-top: 60px;
}

a{
    color: inherit;
    text-decoration: none;
}

#topnav{
    position: fixed;
    display: flex;
    background-color: var(--sea-green);
    width: 100%;
    height: 50px;
    top: 0;
    color: white;
    justify-content: center;
    z-index: 1;
}

#topnav-content{
    height: 100%;
    width: 70%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

#logo-link{
    height: 100%;
}

#logo{
    justify-self: flex-start;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.1s;
}

#logo:hover{
    scale: 1.09;
}

@media only screen and (min-width: 650px) {
    #nav-links{
    display: flex;
    height: 100%;
    }

    #ul-links{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #ul-links li{
        font-variation-settings: "wght" 400;
        transition: all 0.5s;
    }
    #ul-links li:hover{
        font-variation-settings: "wght" 700;
    }

    #menu{
        display: none;
    }
}



h1{
    font-size: 32pt;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: appear 0.5s;
    min-height: 100vh;
}

.hero-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    width: 70%;
    max-width: 900px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
}


footer{
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 10pt;
    background-color: var(--sea-green);
    align-items: center;
    text-align: center;
    line-height: 20px;
    gap: 5px;
}

@media only screen and (max-width: 850px) {
    #topnav-content{
        width: 90%;
    }
    
    body{
        margin-top: 30px;
    }

    .hero-page{
        border-radius: 0;
        padding: 20px;
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 650px) {

    #nav-links{
        display: flex;
        position: relative;
        top: 10px;
        flex-direction: column;
        align-items: flex-end;
    }
    
    #ul-links{
        display: none;
        position: fixed;
        top: 40px;
        right: 0;
        margin-right: 0%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: 50vh;
        padding: 0px calc(10vw);
        font-size: 16pt;
        font-weight: 700;
        background-color: var(--sea-green);
        border-radius: 0 0 20px 20px;
    }
    
    #menu{
        display: block;
    }
}