@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

:root{
    --light-green: #a5e694ff;
    --sea-green: #05855cff;
    --vivid-sky-blue: #2ac7dfff;
    --space-cadet: #122854ff;
    --chili-red: #ee371bff;
}

::-moz-selection { /* Code for Firefox */
    background-color:var(--vivid-sky-blue);
    color:var(--space-cadet);
  }
  
  ::selection {
    background-color:var(--vivid-sky-blue);
    color:var(--space-cadet);;
  }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Fraunces', serif;
}

body{
    margin-top: 60px;
}

a{
    color: inherit;
    text-decoration: none;
}

#topnav{
    position: fixed;
    display: flex;
    background-color: var(--sea-green);
    width: 100%;
    height: 50px;
    top: 0;
    color: white;
    justify-content: center;
}

#topnav-content{
    height: 100%;
    width: 70%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topnav-content ul{
    display: flex;
    gap: 40px;
}

#topnav-content ul li{
    font-variation-settings: "wght" 400;
    transition: all 0.5s;
}
#topnav-content ul li:hover{
    font-variation-settings: "wght" 700;
}

#logo{
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

h1{
    font-size: 32pt;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}